html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ubuntu, arial, sans-serif;
  overflow: hidden;
}

body,
textarea {
  color: #4d4d4d;
}

a {
  color: #37a4b9;
}
a:hover {
  color: #3fbdd6;
}

body {
  display: flex;
  justify-content: center;
}

.app {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #fafafa;
}

.header {
  --background-color: #d5f3bb;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 10px 20px;
  color: black;
  background: var(--background-color);
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 10px 0;
  background-color: hsla(0, 0%, 0%, 0);
  background-image:
          linear-gradient(var(--background-color), var(--background-color)),
          linear-gradient(to top right, transparent 50.5%, var(--background-color) 50.5%),
          linear-gradient(to top left, transparent 50.5%, var(--background-color) 50.5%);
  background-repeat: repeat, repeat-x, repeat-x;
  background-position: 0 0, 10px 100%, 10px 100%;
  background-size: auto auto, 20px 20px, 20px 20px;
  background-clip: padding-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box;
}

.header-contents {
  width: 100%;
  max-width: 1000px;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: 0;
}

.examples {
  width: 100vw;
  max-width: 1000px;
  margin: 30px 10px 10px;
  box-sizing: border-box;
  align-self: center;
}

button.example {
  background: #808080;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 5px 0;
}

button.example:hover {
  background: #9c9c9c;
}

.playground {
  flex: 1;
  display: flex;
  margin: 10px 10px 10px;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: center;
  box-sizing: border-box;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: min(400px, 90vw);
  min-height: 220px;
}

.separator {
  width: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  flex: 1;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  max-height: 500px;
}

.error {
  color: #f65252;
}
