html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ubuntu, arial, sans-serif;
  overflow: hidden;
}

body,
textarea {
  color: #4d4d4d;
}

a {
  color: #37a4b9;
}
a:hover {
  color: #3fbdd6;
}

body {
  display: flex;
  justify-content: center;
}

.app {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #fafafa;
}

.header {
  --background-color: #d5f3bb;
  --color: #222b00;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 10px 20px;
  color: var(--color);
  background: var(--background-color);
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 10px 0;
  background-color: hsla(0, 0%, 0%, 0);
  background-image: linear-gradient(var(--background-color), var(--background-color)),
    linear-gradient(to top right, transparent 50.5%, var(--background-color) 50.5%),
    linear-gradient(to top left, transparent 50.5%, var(--background-color) 50.5%);
  background-repeat: repeat, repeat-x, repeat-x;
  background-position:
    0 0,
    10px 100%,
    10px 100%;
  background-size:
    auto auto,
    20px 20px,
    20px 20px;
  background-clip: padding-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box;
}

.header-contents {
  width: 100%;
  max-width: 1000px;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: 0;
}

.examples {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.examples-inner {
  align-self: center;

  width: 100%;
  max-width: 1000px;
  margin: 30px 0 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

button.example {
  background: #808080;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 5px 0;
}

button.example:hover {
  background: #9c9c9c;
}

.playground {
  flex: 1;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;

  padding: 10px 10px 20px;
  margin: 0;
  gap: 10px;
  width: 1020px; /* 1000 + 2 * padding */
  max-width: 100%;
  box-sizing: border-box;
}

.column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 220px;
}

@media (max-width: 860px) {
  .playground {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

  .column {
    display: flex;
  }
}

.separator {
  width: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

textarea {
  flex: 1;
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  resize: none;
}

.error {
  color: #f65252;
}

.quick-reference {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  line-height: 1.3em;
  gap: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 10px;
}

details {
  display: flex;
  min-height: min-content;
}

details p {
  padding: 0;
  margin: 0.5em 0;
}

details p:first-child {
  margin-top: 0;
}

details p:last-child {
  margin-bottom: 0;
}

details ul {
  margin: 0;
}

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px;
  border-radius: 3px;
}

pre {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px;
  border-radius: 3px;
}

pre code {
  background: none;
}

.function-reference a,
.operator-reference a {
  text-decoration: none;
}

summary {
  cursor: pointer;
}

summary .category {
  min-width: 80px;
  display: inline-block;
}

.details-content {
  padding: 0.5em;
  margin: 0.5em 0 0.5em 30px;
  border-radius: 3px;
}
