:root {
  --theme-color: #d5f3bb;
  --theme-color-highlight: #e1f6ce;
  --background-color: #fafafa;
  --color: #222b00;
  --error-color: #f65252;
  --padding: 10px;
  --border-radius: 3px;
  --tab-border-width: 5px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ubuntu, arial, sans-serif;
  overflow: hidden;
}

body,
textarea {
  color: #4d4d4d;
}

a {
  color: #37a4b9;
}
a:hover {
  color: #3fbdd6;
}

body {
  display: flex;
  justify-content: center;
}

.app {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: var(--background-color);
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 10px 20px;
  color: var(--color);
  background: var(--theme-color);
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 10px 0;
  background-color: hsla(0, 0%, 0%, 0);
  background-image: linear-gradient(var(--theme-color), var(--theme-color)),
    linear-gradient(to top right, transparent 50.5%, var(--theme-color) 50.5%),
    linear-gradient(to top left, transparent 50.5%, var(--theme-color) 50.5%);
  background-repeat: repeat, repeat-x, repeat-x;
  background-position: 0 0, 10px 100%, 10px 100%;
  background-size: auto auto, 20px 20px, 20px 20px;
  background-clip: padding-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box;
}

.header-contents {
  width: 100%;
  max-width: 1000px;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: 0;
}

.examples {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.examples-inner {
  align-self: center;

  width: 100%;
  max-width: 1000px;
  margin: 30px 0 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  background: #808080;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 5px 0;
}

button:hover {
  background: #9c9c9c;
}

.playground {
  flex: 1;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;

  padding: 10px 10px 20px;
  margin: 0;
  gap: 10px;
  width: 1020px; /* 1000 + 2 * padding */
  max-width: 100%;
  box-sizing: border-box;
}

.column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 220px;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab-section {
  flex: 1;
  display: flex;
  flex-direction: column;

  .tabs {
    padding: 0 var(--tab-border-width);

    button {
      margin: 0;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      background: white;
      border: 1px solid var(--theme-color);
      border-bottom: none;
      color: var(--color);
      font-family: inherit;
      font-size: inherit;
      padding: 2px 10px 5px;

      &:hover {
        background: var(--theme-color-highlight);
      }

      &.selected {
        background: var(--theme-color);
        padding: 5px 10px;
      }
    }
  }

  .tab-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: var(--tab-border-width);
    background: var(--theme-color);

    textarea:not(.selected) {
      display: none;
    }
  }
}

@media (max-width: 860px) {
  .playground {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

  .column {
    display: flex;
  }

  .row {
    min-height: 110px;
  }
}

.separator {
  width: 20px;
}

label {
  font-weight: bold;
  margin-top: var(--padding);
  margin-bottom: 5px;
}

textarea {
  flex: 1;
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: var(--border-radius);
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  resize: none;
}

.error {
  color: var(--error-color);
}

.quick-reference {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  line-height: 1.3em;
  gap: 5px;
  border: 1px solid #dcdcdc;
  border-radius: var(--border-radius);
  padding: 10px;
}

details {
  display: flex;
  min-height: min-content;
}

details p {
  padding: 0;
  margin: 0.5em 0;
}

details p:first-child {
  margin-top: 0;
}

details p:last-child {
  margin-bottom: 0;
}

details ul {
  margin: 0;
}

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px;
  border-radius: var(--border-radius);
}

pre {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px;
  border-radius: var(--border-radius);
}

pre code {
  background: none;
}

.method-reference a,
.function-reference a {
  text-decoration: none;
}

summary {
  cursor: pointer;
}

summary .category {
  min-width: 80px;
  display: inline-block;
}

.details-content {
  padding: 0.5em;
  margin: 0.5em 0 0.5em 30px;
  border-radius: var(--border-radius);
}

#debugger {
  width: 800px;
  max-width: calc(100% - var(--padding));
  height: 600px;
  max-height: calc(100% - var(--padding));
  padding: 0;
  border-radius: var(--border-radius);
  background: var(--background-color);
  color: inherit;

  flex-direction: column;
  min-height: 0;

  border: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
  font-family: inherit;
  font-size: inherit;

  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;

  &[open] {
    display: flex;
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &[open]::backdrop {
    animation: fade 0.2s ease-out;
  }

  .dialog-header {
    display: flex;
    align-items: center;
    background: var(--theme-color);
    padding: var(--padding);

    .title {
      flex: 1;
      margin: 0;
      color: inherit;
    }
  }

  .dialog-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding);
  }

  #error-message {
    color: var(--error-color);
  }

  .debug-columns {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 0;

    .debug-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-height: 0;

      .debug-label {
        font-weight: bold;
      }

      label {
        margin: 0;
      }

      textarea {
        flex: 1;
        min-height: 150px;
        min-width: 300px;
      }

      pre {
        margin: 0;
      }
    }
  }
}
